/* styles.css */
* {
    margin: 0;
    padding: 0;
}

body
{
    /* background-color: skyblue; */
}

#main-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

canvas
{
    border: 0.2rem solid black;
}

#btn-container
{
    width: 25%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100vw;
}

button
{
    border: 0.2rem solid black;
    background-color: white;
    padding: 0.3rem;
}

/* Add styles here to customize the appearance of your app */
